.simple-keyboard {
    width: 700px !important;
    margin: auto;
}

#stenoKeyboard{
    background-image: url("../img/images/steno.png");
    background-size: cover;
    width: 500px;
    margin: auto;
    height: 220px;
    margin-top: 50px;
}