div.ex1 {
            margin-left: 30px;
        }

        div.update {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
        }

        #e40_4 {
            overflow: hidden;
            opacity: 1;
            width: 370px;
            height: 15px;
            position: absolute;
        }

        #e40_5 {
            background-color: rgba(116.00000068545341, 89.00000229477882, 217.0000022649765, 0.20000000298023224);
            opacity: 1;
            width: 370px;
            height: 15px;
            position: absolute;
            left: 0px;
            top: 0px;
            border-top-left-radius: 100px;
            border-top-right-radius: 100px;
            border-bottom-left-radius: 100px;
            border-bottom-right-radius: 100px;
        }

        #e40_6 {
            background-color: rgba(116.00000068545341, 89.00000229477882, 217.0000022649765, 1);
            opacity: 1;
            width: 84.50617218017578px;
            height: 15px;
            position: absolute;
            left: 0px;
            top: 0px;
            border-top-left-radius: 100px;
            border-top-right-radius: 100px;
            border-bottom-left-radius: 100px;
            border-bottom-right-radius: 100px;
        }
#e104_0 {
	overflow:hidden;
	opacity:1;
	width:386px;
	height:354px;
	position:absolute;
}
#e40_2 {
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:176px;
	height:26px;
	position:absolute;
	left:15px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}
#e140_4 {
	opacity:1;
	width:370px;
	height:15px;
	position:absolute;
	left:16px;
	top:96px;
}
#e140_5 {
	background-color:rgba(116.00000068545341, 89.00000229477882, 217.0000022649765, 0.20000000298023224);
	opacity:1;
	width:370px;
	height:15px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
#e140_6 {
	background-color:rgba(116.00000068545341, 89.00000229477882, 217.0000022649765, 1);
	opacity:1;
	width:84.50617218017578px;
	height:15px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
#e40_8 {
	opacity:1;
	width:104px;
	height:46px;
	position:absolute;
	left:16px;
	top:38px;
}
#e40_9 {
	color:rgba(17.00000088661909, 38.0000015348196, 60.00000022351742, 1);
	opacity:1;
	width:59px;
	height:46px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Poppins;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
	line-height:46px;
}
#e40_10 {
	color:rgba(159.1979143023491, 161.94270461797714, 164.6874949336052, 1);
	opacity:1;
	width:35px;
	height:22px;
	position:absolute;
	left:69px;
	top:12px;
	font-family:Poppins;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:22px;
}
#e40_12 {
	opacity:1;
	width:321px;
	height:48px;
	position:absolute;
	left:0px;
	top:123px;
}
#e40_13 {
	opacity:1;
	width:133px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
}
#e40_14 {
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:30px;
	height:22px;
	position:absolute;
	left:0px;
	top:0px;
}
#e40_15 {
	background-color:rgba(116.00000068545341, 89.00000229477882, 217.0000022649765, 1);
	opacity:1;
	width:30px;
	height:4px;
	position:absolute;
	left:0px;
	top:9px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
#e40_16 {
	opacity:1;
	width:88px;
	height:48px;
	position:absolute;
	left:45px;
	top:0px;
}
#e40_17 {
	color:rgba(133.06484699249268, 135.06367653608322, 137.06250607967377, 1);
	opacity:1;
	width:50px;
	height:22px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Poppins;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:22px;
}
#e40_18 {
	color:rgba(17.00000088661909, 38.0000015348196, 60.00000022351742, 1);
	opacity:1;
	width:88px;
	height:22px;
	position:absolute;
	left:0px;
	top:26px;
	font-family:Poppins;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:22px;
}
#e40_19 {
	opacity:1;
	width:138px;
	height:48px;
	position:absolute;
	left:150px;
	top:0px;
}
#e40_20 {
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:30px;
	height:22px;
	position:absolute;
	left:0px;
	top:0px;
}
#e40_21 {
	background-color:rgba(116.00000068545341, 89.00000229477882, 217.0000022649765, 0.20000000298023224);
	opacity:1;
	width:30px;
	height:4px;
	position:absolute;
	left:0px;
	top:9px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
#e40_22 {
	opacity:1;
	width:93px;
	height:48px;
	position:absolute;
	left:45px;
	top:0px;
}
#e40_23 {
	color:rgba(115.48046976327896, 116.7089818418026, 117.93750151991844, 1);
	opacity:1;
	width:69px;
	height:22px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Poppins;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:22px;
}
#e40_24 {
	color:rgba(17.00000088661909, 38.0000015348196, 60.00000022351742, 1);
	opacity:1;
	width:93px;
	height:22px;
	position:absolute;
	left:0px;
	top:26px;
	font-family:Poppins;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:22px;
}
#e40_26 {
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:176px;
	height:26px;
	position:absolute;
	left:15px;
	top:183px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}
#e40_27 {
	opacity:1;
	width:370px;
	height:15px;
	position:absolute;
	left:16px;
	top:279px;
}
#e40_28 {
	background-color:rgba(116.00000068545341, 89.00000229477882, 217.0000022649765, 0.20000000298023224);
	opacity:1;
	width:370px;
	height:15px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
#e40_29 {
	background-color:rgba(116.00000068545341, 89.00000229477882, 217.0000022649765, 1);
	opacity:1;
	width:84.50617218017578px;
	height:15px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
#e40_30 {
	opacity:1;
	width:93px;
	height:46px;
	position:absolute;
	left:16px;
	top:221px;
}
#e40_31 {
	color:rgba(17.00000088661909, 38.0000015348196, 60.00000022351742, 1);
	opacity:1;
	width:48px;
	height:46px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Poppins;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
	line-height:46px;
}
#e40_32 {
	color:rgba(159.1979143023491, 161.94270461797714, 164.6874949336052, 1);
	opacity:1;
	width:35px;
	height:22px;
	position:absolute;
	left:58px;
	top:12px;
	font-family:Poppins;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:22px;
}
#e40_33 {
	opacity:1;
	width:243px;
	height:48px;
	position:absolute;
	left:0px;
	top:306px;
}
#e40_34 {
	opacity:1;
	width:92px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
}
#e40_35 {
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:30px;
	height:22px;
	position:absolute;
	left:0px;
	top:0px;
}
#e40_36 {
	background-color:rgba(116.00000068545341, 89.00000229477882, 217.0000022649765, 1);
	opacity:1;
	width:30px;
	height:4px;
	position:absolute;
	left:0px;
	top:9px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
#e40_37 {
	opacity:1;
	width:47px;
	height:48px;
	position:absolute;
	left:45px;
	top:0px;
}
#e40_38 {
	color:rgba(133.06484699249268, 135.06367653608322, 137.06250607967377, 1);
	opacity:1;
	width:43px;
	height:22px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Poppins;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:22px;
}
#e40_39 {
	color:rgba(17.00000088661909, 38.0000015348196, 60.00000022351742, 1);
	opacity:1;
	width:47px;
	height:22px;
	position:absolute;
	left:0px;
	top:26px;
	font-family:Poppins;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:22px;
}
#e40_40 {
	opacity:1;
	width:101px;
	height:48px;
	position:absolute;
	left:142px;
	top:0px;
}
#e40_41 {
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:30px;
	height:22px;
	position:absolute;
	left:0px;
	top:0px;
}
#e40_42 {
	background-color:rgba(116.00000068545341, 89.00000229477882, 217.0000022649765, 0.20000000298023224);
	opacity:1;
	width:30px;
	height:4px;
	position:absolute;
	left:0px;
	top:9px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
#e40_43 {
	opacity:1;
	width:56px;
	height:48px;
	position:absolute;
	left:45px;
	top:0px;
}
#e40_44 {
	color:rgba(115.48046976327896, 116.7089818418026, 117.93750151991844, 1);
	opacity:1;
	width:35px;
	height:22px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Poppins;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:22px;
}
#e40_45 {
	color:rgba(17.00000088661909, 38.0000015348196, 60.00000022351742, 1);
	opacity:1;
	width:56px;
	height:22px;
	position:absolute;
	left:0px;
	top:26px;
	font-family:Poppins;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:22px;
}

#e168_7 {
	overflow:hidden;
	opacity:1;
	width:244px;
	height:54px;
	position:absolute;
}
#e140_22 {
	opacity:1;
	width:138px;
	height:22px;
	position:absolute;
	left:106px;
	top:24px;
}
#e140_23 {
	color:rgba(115.48046976327896, 116.7089818418026, 117.93750151991844, 1);
	opacity:1;
	width:138px;
	height:22px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Poppins;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:22px;
}
#e168_3 {
	opacity:1;
	width:115px;
	height:22px;
	position:absolute;
	left:106px;
	top:0px;
}
#e168_4 {
	color:rgba(115.48046976327896, 116.7089818418026, 117.93750151991844, 1);
	opacity:1;
	width:115px;
	height:22px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Poppins;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:22px;
}
#e168_5 {
	background-color:rgb(80,220,195);
	opacity:1;
	width:76px;
	height:5px;
	position:absolute;
	left:0px;
	top:30px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
#e168_6 {
	background-color:rgba(47.0000009983778, 86.00000247359276, 200.00000327825546, 1);
	opacity:1;
	width:76px;
	height:5px;
	position:absolute;
	left:0px;
	top:8px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}