span{
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: bold;
}

a{
    text-decoration: none;
	color: grey;	
}

a:hover{
    text-decoration: none;
	color: grey;	
}

#e7_12 { 
	overflow:hidden;
	opacity:1;
	width:1616px;
	height:1727px;
}
#e94_193 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:579px;
	height:485px;
	position:absolute;
	left:1150px;
	top:473px;
}
#e14_146 { 
        box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 5px;
	background-color:rgba(243.00000071525574, 246.0000005364418, 255, 1);
	opacity:1;
	width:431px;
	height:480px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:21px;
	border-top-right-radius:21px;
	border-bottom-left-radius:21px;
	border-bottom-right-radius:21px;
}
#e14_151 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:445px;
	height:54px;
	position:absolute;
	left:134px;
	top:90px;
	
	text-align:left;
	font-size:40px;
	letter-spacing:0;
	line-height:54px;
}
#e14_6044 { 
    background-image:url(../img/images/Calendar.svg);
	opacity:1;
	width:342px;
	height:352px;
	position:absolute;
	left:32px;
	top:133px;
}
#e14_6047 { 
	opacity:1;
	width:272px;
	height:158px;
	position:absolute;
	left:35px;
	top:110px;
}
#e14_6048 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:112px;
	height:32px;
	position:absolute;
	left:0px;
	top:126px;
}
#e14_6049 { 
	background-color:rgba(19.0000007674098, 44.000001177191734, 20.000000707805157, 1);
	opacity:1;
	width:112px;
	height:32px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
}
#e14_6050 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:272px;
	height:32px;
	position:absolute;
	left:0px;
	top:84px;
}
#e14_6051 { 
	background-color:rgba(19.0000007674098, 44.000001177191734, 20.000000707805157, 1);
	opacity:1;
	width:272px;
	height:32px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
}
#e14_6052 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:272px;
	height:32px;
	position:absolute;
	left:0px;
	top:42px;
}
#e14_6053 { 
	background-color:rgba(19.0000007674098, 44.000001177191734, 20.000000707805157, 1);
	opacity:1;
	width:272px;
	height:32px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
}
#e14_6054 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:112px;
	height:32px;
	position:absolute;
	left:160px;
	top:0px;
}
#e14_6055 { 
	background-color:rgba(19.0000007674098, 44.000001177191734, 20.000000707805157, 1);
	opacity:1;
	width:112px;
	height:32px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
}
#e14_6056 { 
	opacity:1;
	width:272px;
	height:200px;
	position:absolute;
	left:35px;
	top:110px;
}
#e14_6057 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:32px;
	height:32px;
	position:absolute;
	left:240px;
	top:168px;
}
#e14_6059 { 
	color:rgba(59.83999840915203, 55.76000154018402, 68.00000354647636, 1);
	opacity:1;
	width:32px;
	height:22px;
	position:absolute;
	left:0px;
	top:5px;
	font-family:IBM Plex Sans;
	text-align:center;
	font-size:14px;
	letter-spacing:0.2199999988079071;
	line-height:22px;
}
#e14_6060 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:32px;
	height:32px;
	position:absolute;
	left:200px;
	top:168px;
}
#e14_6062 { 
	color:rgba(122.36000061035156, 117.04000487923622, 133.00000727176666, 1);
	opacity:1;
	width:32px;
	height:22px;
	position:absolute;
	left:0px;
	top:5px;
	font-family:IBM Plex Sans;
	text-align:center;
	font-size:14px;
	letter-spacing:0.2199999988079071;
	line-height:22px;
}
#e14_6063 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:32px;
	height:32px;
	position:absolute;
	left:160px;
	top:168px;
}
#e14_6065 { 
	color:rgba(122.36000061035156, 117.04000487923622, 133.00000727176666, 1);
	opacity:1;
	width:32px;
	height:22px;
	position:absolute;
	left:0px;
	top:5px;
	font-family:IBM Plex Sans;
	text-align:center;
	font-size:14px;
	letter-spacing:0.2199999988079071;
	line-height:22px;
}
#e14_6066 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:32px;
	height:32px;
	position:absolute;
	left:120px;
	top:168px;
}
#e14_6068 { 
	color:rgba(122.36000061035156, 117.04000487923622, 133.00000727176666, 1);
	opacity:1;
	width:32px;
	height:22px;
	position:absolute;
	left:0px;
	top:5px;
	font-family:IBM Plex Sans;
	text-align:center;
	font-size:14px;
	letter-spacing:0.2199999988079071;
	line-height:22px;
}
#e14_6069 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:32px;
	height:32px;
	position:absolute;
	left:80px;
	top:168px;
}
#e14_6071 { 
	color:rgba(122.36000061035156, 117.04000487923622, 133.00000727176666, 1);
	opacity:1;
	width:32px;
	height:22px;
	position:absolute;
	left:0px;
	top:5px;
	font-family:IBM Plex Sans;
	text-align:center;
	font-size:14px;
	letter-spacing:0.2199999988079071;
	line-height:22px;
}
#e14_6072 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:32px;
	height:32px;
	position:absolute;
	left:40px;
	top:168px;
}
#e14_6074 { 
	color:rgba(122.36000061035156, 117.04000487923622, 133.00000727176666, 1);
	opacity:1;
	width:32px;
	height:22px;
	position:absolute;
	left:0px;
	top:5px;
	font-family:IBM Plex Sans;
	text-align:center;
	font-size:14px;
	letter-spacing:0.2199999988079071;
	line-height:22px;
}
#e14_6075 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:32px;
	height:32px;
	position:absolute;
	left:0px;
	top:168px;
}
#e14_6077 { 
	color:rgba(122.36000061035156, 117.04000487923622, 133.00000727176666, 1);
	opacity:1;
	width:32px;
	height:22px;
	position:absolute;
	left:0px;
	top:5px;
	font-family:IBM Plex Sans;
	text-align:center;
	font-size:14px;
	letter-spacing:0.2199999988079071;
	line-height:22px;
}
#e14_6078 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:32px;
	height:32px;
	position:absolute;
	left:240px;
	top:126px;
}
#e14_6080 { 
	color:rgba(122.36000061035156, 117.04000487923622, 133.00000727176666, 1);
	opacity:1;
	width:32px;
	height:22px;
	position:absolute;
	left:0px;
	top:5px;
	font-family:IBM Plex Sans;
	text-align:center;
	font-size:14px;
	letter-spacing:0.2199999988079071;
	line-height:22px;
}
#e14_6081 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:32px;
	height:32px;
	position:absolute;
	left:200px;
	top:126px;
}
#e14_6083 { 
	color:rgba(122.36000061035156, 117.04000487923622, 133.00000727176666, 1);
	opacity:1;
	width:32px;
	height:22px;
	position:absolute;
	left:0px;
	top:5px;
	font-family:IBM Plex Sans;
	text-align:center;
	font-size:14px;
	letter-spacing:0.2199999988079071;
	line-height:22px;
}
#e14_6084 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:32px;
	height:32px;
	position:absolute;
	left:160px;
	top:126px;
}
#e14_6086 { 
	color:rgba(122.36000061035156, 117.04000487923622, 133.00000727176666, 1);
	opacity:1;
	width:32px;
	height:22px;
	position:absolute;
	left:0px;
	top:5px;
	font-family:IBM Plex Sans;
	text-align:center;
	font-size:14px;
	letter-spacing:0.2199999988079071;
	line-height:22px;
}
#e14_6087 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:32px;
	height:32px;
	position:absolute;
	left:120px;
	top:126px;
}
#e14_6089 { 
	color:rgba(122.36000061035156, 117.04000487923622, 133.00000727176666, 1);
	opacity:1;
	width:32px;
	height:22px;
	position:absolute;
	left:0px;
	top:5px;
	font-family:IBM Plex Sans;
	text-align:center;
	font-size:14px;
	letter-spacing:0.2199999988079071;
	line-height:22px;
}
#e14_6090 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:32px;
	height:32px;
	position:absolute;
	left:80px;
	top:126px;
}
#e14_6091 { 
	border-radius:500px;
	background-color:rgba(31.000000052154064, 73.00000324845314, 33.00000183284283, 1);
	opacity:1;
	border:2px solid rgba(43.00000123679638, 102.00000151991844, 46.000001057982445, 1);
	width:32px;
	height:32px;
	position:absolute;
	left:0px;
	top:0px;
}
#e14_6092 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:32px;
	height:22px;
	position:absolute;
	left:0px;
	top:5px;
	font-family:IBM Plex Sans;
	text-align:center;
	font-size:14px;
	letter-spacing:0.2199999988079071;
	line-height:22px;
}
#e14_6093 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:32px;
	height:32px;
	position:absolute;
	left:40px;
	top:126px;
}
#e14_6095 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:32px;
	height:22px;
	position:absolute;
	left:0px;
	top:5px;
	font-family:IBM Plex Sans;
	text-align:center;
	font-size:14px;
	letter-spacing:0.2199999988079071;
	line-height:22px;
}
#e14_6096 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:32px;
	height:32px;
	position:absolute;
	left:0px;
	top:126px;
}
#e14_6098 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:32px;
	height:22px;
	position:absolute;
	left:0px;
	top:5px;
	font-family:IBM Plex Sans;
	text-align:center;
	font-size:14px;
	letter-spacing:0.2199999988079071;
	line-height:22px;
}
#e14_6099 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:32px;
	height:32px;
	position:absolute;
	left:240px;
	top:84px;
}
#e14_6101 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:32px;
	height:22px;
	position:absolute;
	left:0px;
	top:5px;
	font-family:IBM Plex Sans;
	text-align:center;
	font-size:14px;
	letter-spacing:0.2199999988079071;
	line-height:22px;
}
#e14_6102 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:32px;
	height:32px;
	position:absolute;
	left:200px;
	top:84px;
}
#e14_6104 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:32px;
	height:22px;
	position:absolute;
	left:0px;
	top:5px;
	font-family:IBM Plex Sans;
	text-align:center;
	font-size:14px;
	letter-spacing:0.2199999988079071;
	line-height:22px;
}
#e14_6105 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:32px;
	height:32px;
	position:absolute;
	left:160px;
	top:84px;
}
#e14_6107 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:32px;
	height:22px;
	position:absolute;
	left:0px;
	top:5px;
	font-family:IBM Plex Sans;
	text-align:center;
	font-size:14px;
	letter-spacing:0.2199999988079071;
	line-height:22px;
}
#e14_6108 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:32px;
	height:32px;
	position:absolute;
	left:120px;
	top:84px;
}
#e14_6110 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:32px;
	height:22px;
	position:absolute;
	left:0px;
	top:5px;
	font-family:IBM Plex Sans;
	text-align:center;
	font-size:14px;
	letter-spacing:0.2199999988079071;
	line-height:22px;
}
#e14_6111 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:32px;
	height:32px;
	position:absolute;
	left:80px;
	top:84px;
}
#e14_6113 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:32px;
	height:22px;
	position:absolute;
	left:0px;
	top:5px;
	font-family:IBM Plex Sans;
	text-align:center;
	font-size:14px;
	letter-spacing:0.2199999988079071;
	line-height:22px;
}
#e14_6114 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:32px;
	height:32px;
	position:absolute;
	left:40px;
	top:84px;
}
#e14_6116 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:32px;
	height:22px;
	position:absolute;
	left:0px;
	top:5px;
	font-family:IBM Plex Sans;
	text-align:center;
	font-size:14px;
	letter-spacing:0.2199999988079071;
	line-height:22px;
}
#e14_6117 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:32px;
	height:32px;
	position:absolute;
	left:0px;
	top:84px;
}
#e14_6119 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:32px;
	height:22px;
	position:absolute;
	left:0px;
	top:5px;
	font-family:IBM Plex Sans;
	text-align:center;
	font-size:14px;
	letter-spacing:0.2199999988079071;
	line-height:22px;
}
#e14_6120 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:32px;
	height:32px;
	position:absolute;
	left:240px;
	top:42px;
}
#e14_6122 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:32px;
	height:22px;
	position:absolute;
	left:0px;
	top:5px;
	font-family:IBM Plex Sans;
	text-align:center;
	font-size:14px;
	letter-spacing:0.2199999988079071;
	line-height:22px;
}
#e14_6123 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:32px;
	height:32px;
	position:absolute;
	left:200px;
	top:42px;
}
#e14_6125 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:32px;
	height:22px;
	position:absolute;
	left:0px;
	top:5px;
	font-family:IBM Plex Sans;
	text-align:center;
	font-size:14px;
	letter-spacing:0.2199999988079071;
	line-height:22px;
}
#e14_6126 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:32px;
	height:32px;
	position:absolute;
	left:160px;
	top:42px;
}
#e14_6128 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:32px;
	height:22px;
	position:absolute;
	left:0px;
	top:5px;
	font-family:IBM Plex Sans;
	text-align:center;
	font-size:14px;
	letter-spacing:0.2199999988079071;
	line-height:22px;
}
#e14_6129 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:32px;
	height:32px;
	position:absolute;
	left:120px;
	top:42px;
}
#e14_6131 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:32px;
	height:22px;
	position:absolute;
	left:0px;
	top:5px;
	font-family:IBM Plex Sans;
	text-align:center;
	font-size:14px;
	letter-spacing:0.2199999988079071;
	line-height:22px;
}
#e14_6132 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:32px;
	height:32px;
	position:absolute;
	left:80px;
	top:42px;
}
#e14_6134 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:32px;
	height:22px;
	position:absolute;
	left:0px;
	top:5px;
	font-family:IBM Plex Sans;
	text-align:center;
	font-size:14px;
	letter-spacing:0.2199999988079071;
	line-height:22px;
}
#e14_6135 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:32px;
	height:32px;
	position:absolute;
	left:40px;
	top:42px;
}
#e14_6137 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:32px;
	height:22px;
	position:absolute;
	left:0px;
	top:5px;
	font-family:IBM Plex Sans;
	text-align:center;
	font-size:14px;
	letter-spacing:0.2199999988079071;
	line-height:22px;
}
#e14_6138 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:32px;
	height:32px;
	position:absolute;
	left:0px;
	top:42px;
}
#e14_6140 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:32px;
	height:22px;
	position:absolute;
	left:0px;
	top:5px;
	font-family:IBM Plex Sans;
	text-align:center;
	font-size:14px;
	letter-spacing:0.2199999988079071;
	line-height:22px;
}
#e14_6141 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:32px;
	height:32px;
	position:absolute;
	left:240px;
	top:0px;
}
#e14_6143 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:32px;
	height:22px;
	position:absolute;
	left:0px;
	top:5px;
	font-family:IBM Plex Sans;
	text-align:center;
	font-size:14px;
	letter-spacing:0.2199999988079071;
	line-height:22px;
}
#e14_6144 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:32px;
	height:32px;
	position:absolute;
	left:200px;
	top:0px;
}
#e14_6146 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:32px;
	height:22px;
	position:absolute;
	left:0px;
	top:5px;
	font-family:IBM Plex Sans;
	text-align:center;
	font-size:14px;
	letter-spacing:0.2199999988079071;
	line-height:22px;
}
#e14_6147 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:32px;
	height:32px;
	position:absolute;
	left:160px;
	top:0px;
}
#e14_6148 { 
	border-radius:500px;
	background-color:rgba(31.000000052154064, 73.00000324845314, 33.00000183284283, 1);
	opacity:1;
	border:2px solid rgba(43.00000123679638, 102.00000151991844, 46.000001057982445, 1);
	width:32px;
	height:32px;
	position:absolute;
	left:0px;
	top:0px;
}
#e14_6149 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:32px;
	height:22px;
	position:absolute;
	left:0px;
	top:5px;
	font-family:IBM Plex Sans;
	text-align:center;
	font-size:14px;
	letter-spacing:0.2199999988079071;
	line-height:22px;
}
#e14_6150 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:32px;
	height:32px;
	position:absolute;
	left:120px;
	top:0px;
}
#e14_6152 { 
	color:rgba(122.36000061035156, 117.04000487923622, 133.00000727176666, 1);
	opacity:1;
	width:32px;
	height:22px;
	position:absolute;
	left:0px;
	top:5px;
	font-family:IBM Plex Sans;
	text-align:center;
	font-size:14px;
	letter-spacing:0.2199999988079071;
	line-height:22px;
}
#e14_6153 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:32px;
	height:32px;
	position:absolute;
	left:80px;
	top:0px;
}
#e14_6155 { 
	color:rgba(59.83999840915203, 55.76000154018402, 68.00000354647636, 1);
	opacity:1;
	width:32px;
	height:22px;
	position:absolute;
	left:0px;
	top:5px;
	font-family:IBM Plex Sans;
	text-align:center;
	font-size:14px;
	letter-spacing:0.2199999988079071;
	line-height:22px;
}
#e14_6156 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:32px;
	height:32px;
	position:absolute;
	left:40px;
	top:0px;
}
#e14_6158 { 
	color:rgba(59.83999840915203, 55.76000154018402, 68.00000354647636, 1);
	opacity:1;
	width:32px;
	height:22px;
	position:absolute;
	left:0px;
	top:5px;
	font-family:IBM Plex Sans;
	text-align:center;
	font-size:14px;
	letter-spacing:0.2199999988079071;
	line-height:22px;
}
#e14_6159 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:32px;
	height:32px;
	position:absolute;
	left:0px;
	top:0px;
}
#e14_6161 { 
	color:rgba(59.83999840915203, 55.76000154018402, 68.00000354647636, 1);
	opacity:1;
	width:32px;
	height:22px;
	position:absolute;
	left:0px;
	top:5px;
	font-family:IBM Plex Sans;
	text-align:center;
	font-size:14px;
	letter-spacing:0.2199999988079071;
	line-height:22px;
}
#e14_6162 { 
	opacity:1;
	width:294px;
	height:52px;
	position:absolute;
	left:24px;
	top:60px;
}
#e14_6163 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:54px;
	height:52px;
	position:absolute;
	left:240px;
	top:0px;
	font-family:IBM Plex Sans;
	text-align:center;
	font-size:10px;
	letter-spacing:1.5;
	line-height:16px;
}
#e14_6164 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:54px;
	height:52px;
	position:absolute;
	left:200px;
	top:0px;
	font-family:IBM Plex Sans;
	text-align:center;
	font-size:10px;
	letter-spacing:1.5;
	line-height:16px;
}
#e14_6165 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:54px;
	height:52px;
	position:absolute;
	left:160px;
	top:0px;
	font-family:IBM Plex Sans;
	text-align:center;
	font-size:10px;
	letter-spacing:1.5;
	line-height:16px;
}
#e14_6166 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:54px;
	height:52px;
	position:absolute;
	left:120px;
	top:0px;
	font-family:IBM Plex Sans;
	text-align:center;
	font-size:10px;
	letter-spacing:1.5;
	line-height:16px;
}
#e14_6167 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:54px;
	height:52px;
	position:absolute;
	left:80px;
	top:0px;
	font-family:IBM Plex Sans;
	text-align:center;
	font-size:10px;
	letter-spacing:1.5;
	line-height:16px;
}
#e14_6168 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:54px;
	height:52px;
	position:absolute;
	left:40px;
	top:0px;
	font-family:IBM Plex Sans;
	text-align:center;
	font-size:10px;
	letter-spacing:1.5;
	line-height:16px;
}
#e14_6169 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:54px;
	height:52px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:IBM Plex Sans;
	text-align:center;
	font-size:10px;
	letter-spacing:1.5;
	line-height:16px;
}
#e14_6170 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:142px;
	height:32px;
	position:absolute;
	left:100px;
	top:18px;
}
#e14_6172 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:118px;
	height:24px;
	position:absolute;
	left:12px;
	top:4px;
	font-family:IBM Plex Sans;
	text-align:center;
	font-size:16px;
	letter-spacing:0.11999999731779099;
	line-height:24px;
}
#e94_191 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:431px;
	height:527px;
	position:absolute;
	left:1150px;
	top:986px;
}
#e14_6185 { 
        box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 5px;
	background-color:rgba(243.00000071525574, 246.0000005364418, 255, 1);
	opacity:1;
	width:434px;
	height:527px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:21px;
	border-top-right-radius:21px;
	border-bottom-left-radius:21px;
	border-bottom-right-radius:21px;
}
#e94_192 { 
	opacity:1;
	width:363px;
	height:292px;
	position:absolute;
	left:32px;
	top:138px;
}
#e14_6200 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:48px;
	height:48px;
	position:absolute;
	left:6px;
	top:3px;
}
#e14_6201 { 
	border-radius:500px;
	opacity:1;
	border:8px solid rgba(94.90208119153976, 46.090812385082245, 233.82662415504456, 1);
	width:48px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
}
#e14_6202 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:21px;
	height:21px;
	position:absolute;
	left:20px;
	top:91px;
}
#e14_6203 { 
	border-radius:500px;
	background-color:rgba(0, 186.01412415504456, 135.76893389225006, 1);
	opacity:1;
	width:21px;
	height:21px;
	position:absolute;
	left:0px;
	top:0px;
}
#e14_6204 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:21px;
	height:21px;
	position:absolute;
	left:110px;
	top:91px;
}
#e14_6205 { 
	border-radius:500px;
	background-color:rgba(27.766675651073456, 200.15804439783096, 238.00000101327896, 1);
	opacity:1;
	width:21px;
	height:21px;
	position:absolute;
	left:0px;
	top:0px;
}
#e14_6206 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:47px;
	height:48px;
	position:absolute;
	left:97px;
	top:0px;
}
#e14_6207 { 
	border-radius:500px;
	opacity:1;
	border:8px solid rgba(237.01412111520767, 45.73154926300049, 126.07024312019348, 1);
	width:47px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
}
#e14_6208 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:67px;
	height:13px;
	position:absolute;
	left:187px;
	top:18px;
}
#e14_6209 { 
	opacity:1;
	border:8px solid rgba(0, 186.01412415504456, 135.76893389225006, 1);
	width:67px;
	height:13px;
	position:absolute;
	left:0px;
	top:0px;
}
#e14_6210 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:67px;
	height:13px;
	position:absolute;
	left:296px;
	top:18px;
}
#e14_6211 { 
	opacity:1;
	border:8px solid rgba(94.90208119153976, 46.090812385082245, 233.82662415504456, 1);
	width:67px;
	height:13px;
	position:absolute;
	left:0px;
	top:0px;
}
#e14_6212 { 
	opacity:1;
	width:76px;
	height:75px;
	position:absolute;
	left:177px;
	top:91px;
}
#e14_6213 { 
	border-radius:500px;
	opacity:1;
	border:8px solid rgba(244.3749949336052, 183.09794783592224, 64.14843142032623, 1);
	width:76px;
	height:75px;
	position:absolute;
	left:0px;
	top:0px;
}
#e14_6214 { 
	opacity:1;
	width:76px;
	height:75px;
	position:absolute;
	left:287px;
	top:91px;
}
#e14_6215 { 
	border-radius:500px;
	opacity:1;
	border:8px solid rgba(20.113124437630177, 19.65625025331974, 42.5000012665987, 1);
	width:76px;
	height:75px;
	position:absolute;
	left:0px;
	top:0px;
}
#e14_6224 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:48px;
	height:48px;
	position:absolute;
	left:0px;
	top:244px;
}
#ei14_6224_14_6201 { 
	border-radius:500px;
	opacity:1;
	border:8px solid rgba(147.68749594688416, 147.68749594688416, 147.68749594688416, 1);
	width:48px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
}
#e14_6225 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:47px;
	height:48px;
	position:absolute;
	left:91px;
	top:244px;
}
#ei14_6225_14_6207 { 
	border-radius:500px;
	opacity:1;
	border:8px solid rgba(122.36000061035156, 117.04000487923622, 133.00000727176666, 1);
	width:47px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
}
#e14_6226 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:67px;
	height:13px;
	position:absolute;
	left:181px;
	top:262px;
}
#ei14_6226_14_6209 { 
	opacity:1;
	border:8px solid rgba(122.36000061035156, 117.04000487923622, 133.00000727176666, 1);
	width:67px;
	height:13px;
	position:absolute;
	left:0px;
	top:0px;
}
#e14_6227 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:67px;
	height:13px;
	position:absolute;
	left:290px;
	top:262px;
}
#ei14_6227_14_6211 { 
	opacity:1;
	border:8px solid rgba(122.36000061035156, 117.04000487923622, 133.00000727176666, 1);
	width:67px;
	height:13px;
	position:absolute;
	left:0px;
	top:0px;
}
#e14_6216 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:41px;
	height:41px;
	position:absolute;
	left:6px;
	top:155px;
}
#e14_6217 { 
	background-color:rgba(122.36000061035156, 117.04000487923622, 133.00000727176666, 1);
	opacity:1;
	width:41px;
	height:41px;
	position:absolute;
	left:0px;
	top:0px;
}
#e14_6218 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:40px;
	height:41px;
	position:absolute;
	left:97px;
	top:155px;
}
#e14_6219 { 
	background-color:rgba(122.36000061035156, 117.04000487923622, 133.00000727176666, 1);
	opacity:1;
	width:40px;
	height:41px;
	position:absolute;
	left:0px;
	top:0px;
}
#e14_6220 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:43px;
	height:42px;
	position:absolute;
	left:196px;
	top:155px;
}
#e14_6221 { 
	background-color:rgba(122.36000061035156, 117.04000487923622, 133.00000727176666, 1);
	opacity:1;
	width:43px;
	height:42px;
	position:absolute;
	left:0px;
	top:0px;
}
#e14_6222 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:43px;
	height:42px;
	position:absolute;
	left:296px;
	top:155px;
}
#e14_6223 { 
	background-color:rgba(122.36000061035156, 117.04000487923622, 133.00000727176666, 1);
	opacity:1;
	width:43px;
	height:42px;
	position:absolute;
	left:0px;
	top:0px;
}
#e14_6188 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:445px;
	height:108px;
	position:absolute;
	left:88px;
	top:47px;
	
	text-align:left;
	font-size:40px;
	letter-spacing:0;
	line-height:54px;
}
#e94_62 { 
	opacity:1;
	width:832px;
	height:1224px;
	position:absolute;
	left:295px;
	top:473px;
}
#e14_29 { 
        box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 5px;
	background-color:rgba(243.00000071525574, 246.0000005364418, 255, 1);
	opacity:1;
	width:832px;
	height:1224px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:21px;
	border-top-right-radius:21px;
	border-bottom-left-radius:21px;
	border-bottom-right-radius:21px;
}
#e90_2 { 
	opacity:1;
	width:740px;
	height:281.89703369140625px;
	position:absolute;
	left:33px;
	top:284px;
}
#e14_81 { 
	background-color:rgba(251.8125182390213, 130.10313391685486, 130.10313391685486, 1);
	opacity:1;
	width:740px;
	height:274.89703369140625px;
	position:absolute;
	left:0px;
	top:7px;
	border-top-left-radius:32px;
	border-top-right-radius:32px;
	border-bottom-left-radius:32px;
	border-bottom-right-radius:32px;
}
#e14_97 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:161px;
	height:55px;
	position:absolute;
	left:231px;
	top:47px;
	
	text-align:left;
	font-size:30px;
	letter-spacing:0;
	line-height:54px;
}
#e14_98 { 
	color:rgba(240.12499898672104, 240.12499898672104, 240.12499898672104, 1);
	opacity:1;
	width:243px;
	height:47px;
	position:absolute;
	left:231px;
	top:102px;
	
	text-align:left;
	font-size:24px;
	letter-spacing:undefined;
	line-height:33px;
}
#e14_101 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:159px;
	height:34px;
	position:absolute;
	left:553px;
	top:174px;
	
	text-align:left;
	font-size:14px;
	letter-spacing:0.75;
	line-height:33px;
}
#e14_137 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:93px;
	height:86px;
	position:absolute;
	left:577px;
	top:75px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
#e14_138 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:46px;
	height:30px;
	position:absolute;
	left:24.000015258789062px;
	top:28px;
	
	text-align:center;
	font-size:20px;
	letter-spacing:0;
	line-height:30px;
}
#e90_1 { 
	opacity:1;
	width:325px;
	height:46px;
	position:absolute;
	left:67px;
	top:202px;
}
#ei90_1_14_90 { 
	opacity:1;
	width:96px;
	height:32.583335876464844px;
	position:absolute;
	left:-1px;
	top:23px;
}
#ei90_1_14_91 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:41px;
	height:34px;
	position:absolute;
	left:0px;
	top:-0.7083320617675781px;
	
	text-align:left;
	font-size:18px;
	letter-spacing:0.75;
	line-height:34px;
}
#ei90_1_14_92 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:43px;
	height:28px;
	position:absolute;
	left:53px;
	top:2.291667938232422px;
	
	text-align:left;
	font-size:16px;
	letter-spacing:0.75;
	line-height:28px;
}
#ei90_1_14_93 { 
	background-color:rgba(208.44036877155304, 208.5429784655571, 209.31249797344208, 1);
	opacity:1;
	width:323.56195068359375px;
	height:11.5px;
	position:absolute;
	left:1.4380531311035156px;
	top:0px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}
#ei90_1_14_94 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:138.0531005859375px;
	height:11.5px;
	position:absolute;
	left:1.4380531311035156px;
	top:0px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}
#e14_134 { 
	opacity:1;
	width:184px;
	height:184px;
	position:absolute;
    top: 30px;
    left: 30px;
	background-image:url(../img/images/test.svg);
	background-repeat:no-repeat;
}
#e94_59 { 
	opacity:1;
	width:445.6153564453125px;
	height:98px;
	position:absolute;
	left:46px;
	top:83px;
}
#e14_61 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:445px;
	height:54px;
	position:absolute;
	left:0.6153564453125px;
	top:0px;
	
	text-align:left;
	font-size:40px;
	letter-spacing:0;
	line-height:54px;
}
#e14_62 { 
	color:rgba(70.00000342726707, 163.00000548362732, 193.00000369548798, 1);
	opacity:1;
	width:217px;
	height:56px;
	position:absolute;
	left:0px;
	top:42px;
	
	text-align:left;
	font-size:30px;
	letter-spacing:0;
	line-height:54px;
}
#e94_58 { 
	opacity:1;
	width:740px;
	height:281.89703369140625px;
	position:absolute;
	left:37px;
	top:906px;
}
#e94_45 { 
	background-color:rgba(255, 198.89999270439148, 0, 1);
	opacity:1;
	width:740px;
	height:274.89703369140625px;
	position:absolute;
	left:0px;
	top:7px;
	border-top-left-radius:32px;
	border-top-right-radius:32px;
	border-bottom-left-radius:32px;
	border-bottom-right-radius:32px;
}
#e94_46 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:161px;
	height:55px;
	position:absolute;
	left:231px;
	top:47px;
	
	text-align:left;
	font-size:30px;
	letter-spacing:0;
	line-height:54px;
}
#e94_47 { 
	color:rgba(240.12499898672104, 240.12499898672104, 240.12499898672104, 1);
	opacity:1;
	width:243px;
	height:47px;
	position:absolute;
	left:231px;
	top:102px;
	
	text-align:left;
	font-size:24px;
	letter-spacing:undefined;
	line-height:33px;
}
#e94_48 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:159px;
	height:34px;
	position:absolute;
	left:553px;
	top:174px;
	
	text-align:left;
	font-size:14px;
	letter-spacing:0.75;
	line-height:33px;
}
#e94_49 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:93px;
	height:86px;
	position:absolute;
	left:577px;
	top:75px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
#e94_50 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:46px;
	height:30px;
	position:absolute;
	left:24.000015258789062px;
	top:28px;
	
	text-align:center;
	font-size:20px;
	letter-spacing:0;
	line-height:30px;
}
#e94_51 { 
	opacity:1;
	width:325px;
	height:46px;
	position:absolute;
	left:67px;
	top:202px;
}
#ei94_51_14_90 { 
	opacity:1;
	width:96px;
	height:32.583335876464844px;
	position:absolute;
	left:-1px;
	top:23px;
}
#ei94_51_14_91 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:41px;
	height:34px;
	position:absolute;
	left:0px;
	top:-0.7083320617675781px;
	
	text-align:left;
	font-size:18px;
	letter-spacing:0.75;
	line-height:34px;
}
#ei94_51_14_92 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:43px;
	height:28px;
	position:absolute;
	left:53px;
	top:2.291667938232422px;
	
	text-align:left;
	font-size:16px;
	letter-spacing:0.75;
	line-height:28px;
}
#ei94_51_14_93 { 
	background-color:rgba(208.44036877155304, 208.5429784655571, 209.31249797344208, 1);
	opacity:1;
	width:323.56195068359375px;
	height:11.5px;
	position:absolute;
	left:1.4380531311035156px;
	top:0px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}
#ei94_51_14_94 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:138.0531005859375px;
	height:11.5px;
	position:absolute;
	left:1.4380531311035156px;
	top:0px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}
#e14_136 { 
	transform: rotate(-11.396835584240163deg);
	opacity:1;
	width:165px;
	height:170px;
	position:absolute;
	left:0px;
    top: 30px;
    left: 30px;
	background-image:url(../img/images/desktop.svg);
	background-repeat:no-repeat;
}
#e94_29 { 
	opacity:1;
	width:740px;
	height:281.89703369140625px;
	position:absolute;
	left:37px;
	top:595px;
}
#e94_16 { 
	background-color:rgba(207.00000286102295, 117.00000062584877, 255, 1);
	opacity:1;
	width:740px;
	height:274.89703369140625px;
	position:absolute;
	left:0px;
	top:7px;
	border-top-left-radius:32px;
	border-top-right-radius:32px;
	border-bottom-left-radius:32px;
	border-bottom-right-radius:32px;
}
#e94_17 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:161px;
	height:55px;
	position:absolute;
	left:231px;
	top:47px;
	
	text-align:left;
	font-size:30px;
	letter-spacing:0;
	line-height:54px;
}
#e94_18 { 
	color:rgba(240.12499898672104, 240.12499898672104, 240.12499898672104, 1);
	opacity:1;
	width:243px;
	height:47px;
	position:absolute;
	left:231px;
	top:102px;
	
	text-align:left;
	font-size:24px;
	letter-spacing:undefined;
	line-height:33px;
}
#e94_19 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:159px;
	height:34px;
	position:absolute;
	left:553px;
	top:174px;
	
	text-align:left;
	font-size:14px;
	letter-spacing:0.75;
	line-height:33px;
}
#e94_20 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:93px;
	height:86px;
	position:absolute;
	left:577px;
	top:75px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
#e94_21 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:46px;
	height:30px;
	position:absolute;
	left:24.000015258789062px;
	top:28px;
	
	text-align:center;
	font-size:20px;
	letter-spacing:0;
	line-height:30px;
}
#e94_22 { 
	opacity:1;
	width:325px;
	height:46px;
	position:absolute;
	left:67px;
	top:202px;
}
#ei94_22_14_90 { 
	opacity:1;
	width:96px;
	height:32.583335876464844px;
	position:absolute;
	left:-1px;
	top:23px;
}
#ei94_22_14_91 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:41px;
	height:34px;
	position:absolute;
	left:0px;
	top:-0.7083320617675781px;
	
	text-align:left;
	font-size:18px;
	letter-spacing:0.75;
	line-height:34px;
}
#ei94_22_14_92 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:43px;
	height:28px;
	position:absolute;
	left:53px;
	top:2.291667938232422px;
	
	text-align:left;
	font-size:16px;
	letter-spacing:0.75;
	line-height:28px;
}
#ei94_22_14_93 { 
	background-color:rgba(208.44036877155304, 208.5429784655571, 209.31249797344208, 1);
	opacity:1;
	width:323.56195068359375px;
	height:11.5px;
	position:absolute;
	left:1.4380531311035156px;
	top:0px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}
#ei94_22_14_94 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:138.0531005859375px;
	height:11.5px;
	position:absolute;
	left:1.4380531311035156px;
	top:0px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}
#e14_135 { 
	opacity:1;
	width:160px;
	height:160px;
	position:absolute;
    top: 30px;
    left: 30px;
	background-image:url(../img/images/Union.svg);
	background-repeat:no-repeat;
}
#e94_188 { 
	opacity:1;
	width:640px;
	height:96px;
	position:absolute;
	left:134px;
	top:195px;
}
#e72_283 { 
    color:rgba(116.95468425750732, 122.64437735080719, 126.43750101327896, 1);
	opacity:1;
	width:308px;
	height:95px;
	position:absolute;
	left:0px;
	top:1px;
	
	text-align:left;
	font-size:30px;
	letter-spacing:0;
	line-height:54px;
}
#e72_284 { 
	color:rgba(70.00000342726707, 163.00000548362732, 193.00000369548798, 1);
	opacity:1;
	width:308px;
	height:95px;
	position:absolute;
	left:332px;
	top:0px;
	
	text-align:left;
	font-size:30px;
	letter-spacing:0;
	line-height:54px;
}
#e72_292 { 
	opacity:1;
	width:571px;
	height:12px;
	position:absolute;
	left:0px;
	top:58px;
}
#e105_275 { 
	opacity:1;
	width:571px;
	height:12px;
	position:absolute;
	left:0px;
	top:0px;
}
#e72_286 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	opacity:1;
	width:527px;
	height:12px;
	position:absolute;
	left:44px;
	top:0px;
	border-top-left-radius:40px;
	border-top-right-radius:40px;
	border-bottom-left-radius:40px;
	border-bottom-right-radius:40px;
}
#e72_287 { 
	background-color:rgba(70.00000342726707, 163.00000548362732, 193.00000369548798, 1);
	opacity:1;
	width:245px;
	height:11px;
	position:absolute;
	left:330px;
	top:0px;
	border-top-left-radius:40px;
	border-top-right-radius:40px;
	border-bottom-left-radius:40px;
	border-bottom-right-radius:40px;
}
#e72_289 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:39px;
	height:39px;
	position:absolute;
	left:282px;
	top:9px;
}
#e72_290 { 
	opacity:1;
	width:27.300003051757812px;
	height:31.19999885559082px;
	position:absolute;
	left:5.850002288818359px;
	top:3.8999998569488525px;
}
#e72_291 { 
	background-color:rgba(122.36000061035156, 117.04000487923622, 133.00000727176666, 1);
	opacity:1;
	width:27.300003051757812px;
	height:31.19999885559082px;
	position:absolute;
	left:0px;
	top:0px;
}
#e94_189 { 
	opacity:1;
	width:1302px;
	height:320px;
	position:absolute;
	left:278px;
	top:125px;
}
#e12_18 { 
	opacity:1;
	width:1302px;
	height:320px;
	position:absolute;
	left:0px;
	top:0px;
}
#e12_19 { 
	overflow:hidden;
	background-image:url(../img/images/CTA.png);
	opacity:1;
	width:1302px;
	height:320px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
}
#e14_26 { 
	opacity:1;
	width:1302px;
	height:320px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:16px;
}
#e14_28 { 
	opacity:1;
	width:227.93536376953125px;
	height:226.8188018798828px;
	position:absolute;
	left:955.9998779296875px;
	top:53.00000762939453px;
}
#e14_4 { 
	opacity:1;
	width:227.93536376953125px;
	height:226.8188018798828px;
	position:absolute;
	left:0px;
	top:0px;
}
#e14_5 { 
	border-radius:500px;
	opacity:1;
	border:10px solid rgba(212.4999949336052, 207.1875, 207.1875, 1);
	width:188px;
	height:188px;
	position:absolute;
	left:10px;
	top:0px;
}
#e14_11 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:118px;
	height:51px;
	position:absolute;
	left:50.000152587890625px;
	top:58.99998474121094px;
	
	text-align:left;
	font-size:48px;
	letter-spacing:0;
	line-height:54px;
}
#e14_13 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:103px;
	height:54px;
	position:absolute;
	left:55px;
	top:94.99998474121094px;
	
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:54px;
}
#e14_27 { 
	opacity:1;
	width:536px;
	height:234.17892456054688px;
	position:absolute;
	left:60px;
	top:54.00000762939453px;
}
#e12_58 { 
	opacity:1;
	width:501.1261291503906px;
	height:54px;
	position:absolute;
	left:0px;
	top:0px;
}
#e12_59 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:445px;
	height:54px;
	position:absolute;
	left:0px;
	top:0px;
	
	text-align:left;
	font-size:40px;
	letter-spacing:0;
	line-height:54px;
}
#e14_15 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:536px;
	height:56.53632736206055px;
	position:absolute;
	left:0px;
	top:56.53632736206055px;
	
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:54px;
}
#e14_21 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:239.99993896484375px;
	height:95.17892456054688px;
	position:absolute;
	left:3px;
	top:139px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
#e14_22 { 
	color:rgba(70.00000342726707, 163.00000548362732, 193.00000369548798, 1);
	opacity:1;
	width:192px;
	height:30px;
	position:absolute;
	left:24.000015258789062px;
	top:33px;
	
	text-align:center;
	font-size:24px;
	letter-spacing:0;
	line-height:30px;
}
